*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: #1F2937;
}

/** Navbar styling start here */
nav{
   /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    text-transform: capitalize;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color:#fff8f8;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #ffa500;
    transition: .3s;
}

/** Rows styling*/
.row-cards{
    border: 2px solid #3882f6;
    align-items: center;
    display: flex;
    //margin: 20px;
    padding: 20px;
}

.right{
    margin: 25px;
    border: 2px solid #ffa500;
    //padding-left: 12px 22px;
    align-items: center;
}

.card-1{
    flex: 1;
   /* border: 2px solid yellow; */
    margin-right: 24px;
}

.text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
p{
    font-size: 18px;
    color: #f9faf8;
}

button{
    border: none;
    background-color: #3882f6;
    padding: 12px 30px;
    border-radius: 30px;
    color: #f9faf8;
    font-size: 18px;
    margin: 24px;
    font-weight: bold;
}

.card-1 img{
    width: auto; 
    border-radius: 8px;
    height: 380px;
}

/** Info styling */
.info{
    padding-top: 30px;
    text-align: center;
    //align-items: center;
}

.box{
    display: flex;
    padding-top: 17px;
    justify-content: space-around;
    align-items: center;
    }

.box .box-1{
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.box-1 img{
    max-width: 100%;
    height: 40%;
    border-radius: 30px;
}




/**
.box-1{
    border: 2px solid orange;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.box-2{
    border: 2px solid #e100ff;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.box-3{
    border: 2px solid #0048ff;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.box-4{
    border: 2px solid #65d900;
    height: 200px;
    width: 200px;
    border-radius: 25px;
} */