*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: #1F2937;
}

/** Navbar styling start here */
nav{
   //border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    text-transform: capitalize;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color:#fff8f8;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #ffa500;
    transition: .3s;
}

/** Rows styling*/
.row-cards{
    display: flex;
   margin: 18px;
    padding: 20px;
}

.card-1{
    flex: 1;
   // border: 2px solid yellow;
    margin-right: 24px;
}

.text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
p{
    font-size: 18px;
    color: #f9faf8;
}

button{
    border: none;
    background-color: #3882f6;
    padding: 12px 30px;
    border-radius: 30px;
    color: #f9faf8;
    font-size: 18px;
    margin: 24px;
    font-weight: bold;
}

.card-1 img{
    //width: 500px;
    height: 400px;
}
