@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.header{
    background-color: #1F2937;
}

/** Navbar styling start here */
nav{
   /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    text-transform: capitalize;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color:#fff8f8;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #ffa500;
    transition: .3s;
}

/** Rows styling*/
.row-cards{
    /* border: 2px solid #3882f6; */
    align-items: center;
    display: flex;
    /* margin: 20px; */
    padding: 20px;
}

.right{
    margin: 25px;
    padding-left: 40px;
    align-items: center;
    /*border: 2px solid #ffa500;
     padding-left: 12px 22px; */
  
}

.card-1{
    flex: 1;
   /* border: 2px solid yellow; */
    margin-right: 24px;
}

.text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.right p{
    font-size: 18px;
    color: #f9faf8;
}

button{
    border: none;
    background-color: #3882f6;
    padding: 12px 30px;
    border-radius: 30px;
    color: #f9faf8;
    font-size: 18px;
    margin: 24px;
    font-weight: bold;
}

button:hover{
    background-color: #ffa500;
    color: #f9faf8;
    transition: .3s;
}

.card-1 img{
    width: auto; 
    border-radius: 8px;
    height: 380px;
}

/** Info styling */
.info{
    padding-top: 70px;
    padding-bottom: 40px;
    height: 40%;
    text-align: center;
}

.info h2{
    font-size: 36px;
    font-weight: 800;
}

.box{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    color: #1F2937;

    }

.box .box-1{
    padding-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 25px;

}

.box-1 img{
    max-width: 100%;
    height: 40%;
    border-radius: 30px;
}

/** quote section styling */
.quote{
    padding-top: 40px;
    text-align: center;
    background-color: #e5e7eb;
    color: #1F2937;    
}

.quote h4{
    line-height: 80px;
    margin: 28px;
    padding: 28px 32px;
    font-size: 36px;
    font-style: italic;   
    font-weight: 200;
}

#auth{
    font-weight: 900;
    margin-right: 40px;
    font-style: normal;
    font-size: 32px;
}

/** card-action styling */
.call-action{
    border: 2px solid red;

    height: 400px;
    margin: 30px 50px;
    padding: 24px;
    align-items: center;
}

.card-action{
    background-color: #3882f6;
    width: 900px;
    margin: auto;
    border-radius: 26px;
    padding: 20px;
   //align-items: flex-start;
    //text-align: center;
}

.btn{
    border: 1px solid #e5e7eb;
}






















/**
.box-1{
    border: 2px solid orange;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.box-2{
    border: 2px solid #e100ff;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.box-3{
    border: 2px solid #0048ff;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.box-4{
    border: 2px solid #65d900;
    height: 200px;
    width: 200px;
    border-radius: 25px;
} */